body {
font-family: 'PT Sans';
font-weight: 400;
margin: 0;
padding: 0;
width:100%;
}
main {
margin: 0 auto;
font-size: 14px;
font-weight: bold;
color: #000000;
text-transform: uppercase;
}
.wrap {
width: 1200px;
margin: 0 auto;
}
.intro {
display: flex;
flex-direction: column;
align-content: center;
background-image: url(../img/background_photo.png);
width:1200px;
height: 717px;
z-index: 20;
}
.intro-catalog {
display: flex;
flex-direction: column;
align-content: center;
background-image: url(../img/catalog_background.png);
background-repeat: no-repeat;
width:1200px;
height: 256px;
z-index: 20;
}

.menu {
display:flex;
flex-direction: row;
text-align:center;
width: 1200px;
height:30px;
text-decoration: none;
font-size: 14px;
font-weight: bold;
font-family: "PT Sans";
color: #000000;
background: #ffffff;
padding-top: 20px;
padding-left: 40px;
padding-bottom: 0;
z-index: 100;
}

.menu-info {
display:flex;
text-align: center;
vertical-align: middle;
width: 239px;
z-index: 113;
}
.menu-foto {
display: flex;
width: 239px;
z-index: 112;
}
.menu-logo {
display: flex;
width: 244px;
z-index: 100;
}
.menu-map {
display: flex;
width: 239px;
height: 56px;
z-index: 100;
}

.menu-hotels {
display: flex;
width: 239px;
z-index: 110;
}

.advert {
display: flex;
flex-direction: column;
position: relative;
background-color: #ffffff;
left: 0px;
top: 523px;
width: 1200px;
height: 158px;
z-index: 100;
}

.advert-title {
font-size: 21px;
font-weight: bold;
font-family: "PT Sans";
text-transform: uppercase;
text-align: center;
padding-top:30px;
padding-bottom: 20px;
}

.advert-text {
font-family: "PT Sans";
font-size: 14px;
font-weight: normal;
text-transform: uppercase;
color: #000000;
text-align: center;
margin-top: 0px;
margin-bottom: 10px;
}
.section1 {
display: flex;
flex-direction: row;
text-align: center;
width: 1200px;
height: 256px;
margin-top:50px;
}
.bluebox {
display: flex;
flex-direction: column;
width: 400px;
height: 256px;
color:  #ffffff;
background-color: #81b3d2;
text-align: center;
}
.section1-arizona {
width: 800px;
height: 256px;
}
.icon {
display: flex;
position: relative;
top: 30px;
}
.section2 {
display: flex;
flex-direction: row;
background-color: #ffffff;
width: 1200px;
height: 256px;
margin-top:50px;
}

.section3 {
display: flex;
flex-direction: row;
width: 1200px;
height: 256px;
}
.section1-arizona {
width: 800px;
height: 256px;
}
.section4 {
display: flex;
flex-direction: row;
background-color:#eeeeee;
  }
.section5 {
display: flex;
flex-direction: column;
background-color: #ffffff;
width: 1200px;
height: 256px;
}

.infobox {
display: flex;
flex-direction: column;
width: 400px;
height: 256px;
color:#000000;
text-align: center;
}
.map {
display: flex;
background-image: url(../img/map.png);
}
.findform {
display: flex;
flex-direction: column;
position: absolute;
left: 535px;
top: 2000px;
background-color:#ffffff;
border: darkgray solid 1px;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
color: #000000;
width: 568px;
height: 480px;
z-index: 100;
}
.find-title {
display: flex;
justify-content: center;
font-size: 21px;
font-weight: bold;
text-transform: uppercase;
background-color:#766357;
color: #ffffff;
padding-top: 50px;
width: 568px;
height: 76px;
z-index: 100;
}
.find-text {
position: relative;
left:30px;
top:30px;
padding-bottom: 15px;
}
.button {
display: flex;
justify-content: center;
font-size: 21px;
font-weight: bold;
position: relative;
top: 70px;
left: 55px;
background-color:#81b3d2;
color: #ffffff;
padding-top: 30px;
width: 458px;
height: 58px;
z-index: 100;
}
 hotelbox. {
display: flex;
flex-direction: row;
}
.footer {
display: flex;
flex-direction: row;
background-color: #ffffff;
color: #000000;
width: 1200px;
height: 60px;
}
.footer-box {
position: absolute
display: flex;
text-align: center;
font-size: 14px;
font-weight: normal;
text-transform: uppercase;
color: #000000;
width: 400px;
height: 60px;
}
.footer-in {
display: flex;
text-align: center;
vertical-align: middle;
font-size: 21px;
font-weight: bold;
text-transform: uppercase;
}
.social-icon {
display: inline-block;
vertical-align: middle;
width: 46px;
height: 48px;
font-size: 0;
margin: 0 6px 6px 0;
}
.social-icon.fb {
width: 47px;
}
.social-icon.youtube {
}
.social-icon:hover {
background-position: 0 -49px;
}

.social-icon.fb:hover {
background-position: -47px -49px;
}

.social-icon.youtube:hover {
background-position: -95px -49px;
}
.social-icon:active {
background-position: 0 -98px;
}
.social-icon.fb:active {
background-position: -47px -98px;
}
.social-icon.youtube:active {
background-position: -95px -98px;
}
.social-icon:last-child {
margin-right: 0;
}

/* CATALOG */

.filter {
display: flex;
flex-direction: row;
font-size: 14px;
color: #ffffff;
text-transform: uppercase;
padding-left: 20px;
width: 1200px;
}
.filter-col1 {
display: flex;
flex-direction: column;
width: 300px;
padding-left: 30px;
padding-top: 20px;
}
.filter-col2 {
display: flex;
flex-direction: column;
width: 350px;
padding-left: 30px;
padding-top: 20px;
}
.filter-col3 {
display: flex;
flex-direction: column;
width: 600px;
padding-top: 20px;
padding-left: 30px;
}
p.filter-title {
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
}
.filter-button {
display: flex;
justify-content: center;
vertical-align: middle;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
color: #ffffff;
border: solid 2px #ffffff;
padding: 5px 10px;
width: 150px;
height: 20px;
z-index: 100;
}
.results-wrapper {
display: flex;
flex-direction: row;
font-size: 14px;
color: #000000;
text-transform: uppercase;
padding: 20px;
width: 1200px;
}
.sorting {
display: flex;
flex-direction: row;
width: 600px;
}
.sorting-text {
display: flex;
flex-direction: row;
font-size: 14px;
color: #000000;
text-transform: uppercase;
}
.results-title {
font-size: 21px;
color: #000000;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
}
.sorting-title {
font-size: 14px;
color: #000000;
font-weight: bold;
text-transform: uppercase;
margin-left: 35px;
}
ul.sorting-list {
display: inline;
margin-left: 25px;
margin-right: 5px;
padding: 5px;
}
ul.sorting-list li {
display: inline;
margin-right: 10px;
margin-left: 10px;
padding: 5px;
}
.sorting-controls {
display: flex; /*стрелочки */
}
.item-pic   {
display: flex;
margin-left: 20px;
margin-right: 35px;
}
.item-wrapper. {
display: flex;
flex-direction: column;
width: 450px;
height: 260px;
margin-left: 20px;
}
.item-title {
font-size: 21px;
font-weight: bold;
text-transform: uppercase;
margin-left: 20px;
}
.item-btns {
display: inline-flex;
flex-direction: row;
width: 400px;
}
.item-btn details {
display: flex;
justify-content: center;
vertical-align: middle;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
color: #ffffff;
background-color: #81b3d2;
border: darkgray solid 1px;
width: 100px;
height: 20px;
z-index: 100;
}

.item-btn book {
display: flex;
justify-content: center;
vertical-align: middle;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
color: #ffffff;
background-color: #766357;
width: 150px;
height: 20px;
border: darkgray solid 1px;
z-index: 100;
}
.item-rating {
display: flex;
float: right;
flex-direction: column;
}
.rating-stars {
display: flex;
}
.rating-text{
display: flex;
}
