
header {
    font-size: 14px;
    font-weight: bold;
    font-family: "PT Sans"; 
    color:#000000;
    @font-face {
        font-family: 'PT Sans';
        src: url('ptsans-regular.eot');
        src: url('ptsans-regular.eot?#iefix') format('embedded-opentype'),
             url('ptsans-regular.woff2') format('woff2'),
             url('ptsans-regular.woff') format('woff'),
             url('ptsans-regular.ttf') format('truetype'),
             url('ptsans-regular.svg#PT Sans Regular') format('svg');
    
}
.main header {
    font-size: 14px;
    font-weight: bold;
    font-family: "PT Sans"; 
    color:#000000;
}
body {

}
h1 {
    font-size: 21px;
    font-weight: bold;
    font-family: "PT Sans"; 
    color:#000000;
    text-transform: uppercase;
}
section first{

}

section second {

}
.advert {

}
section find {

}
footer {

}
div {
    font-size: 14px;
    font-weight: bold;
    font-family: "PT Sans"; 
    color:#000000;

}
.sticker1 {
background-color:#81b3d2;
position: absolute;
width: 400px;
height: 256px;
color:#ffffff;
list-style-type: none;
}
.sticker1.li {
    list-style-type: none;
}
