body {
  font-family: 'PT Sans';
  font-weight: 400;
  margin: 0;
  padding: 0;
  width:100%;
}
main {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.intro {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: auto;
z-index: 10;
opacity:1;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left:0px;
  top:0px;
  font-size: 14px;
  font-weight: bold;
  font-family: "PT Sans";
  color: #000000;
  background: #ffffff;
  width: 100%;
  height: 30px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 100;
}

.menu-info {
display: flex;
width: 20%;
align-items: center;
}
.menu-foto {
display: flex;
width: 20%;
align-items: center;
  }
.menu-logo {
display: flex;
align-items: center;
width: 20%;
z-index: 100;
  }
.menu-map {
display: flex;
width: 20%;
align-items: center;
      }
.menu-hotels {
display: flex;
width: 20%;
align-items: center;
 }
.welcom {
  display: flex;
  align-items: center;
  position: absolute;
  top:132px;
  z-index:100;
}
.welcom1 {
  position: absolute;
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 50px;
  width: 100%;
  z-index: 100;
}
h2 {
  align-items: center
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans";
  color:#000000
  text-transform:uppercase;


.advert {
  display: flex;
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans";
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}

.reasons {
  display: flex;
  font-family: "PT Sans";
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section1 {
  display: flex;
  flex-direction: row;
}

.sticker {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 156px;
  background-color: #81b3d2;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

.sticker1 {
  font-size: 14px;
  font-family: "PT Sans";
  color: #ffffff;
  text-align: center;
}

.sticker1-title {
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans";
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.section1 .arizona {
  width: 800px;
  height: 156px;
}


.section2 {
  display: flex;
}



.section3 {
  display: flex;
}


.wrap {
  width: 1200px;
  margin: 0 auto;
}
